html {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
}

.site-title {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

hr {
  border: solid 2px;
}